.floatLeft { float: left; }
.floatRight { float: right; }
.clearBoth { clear: both; }

body a {
    color: #007bff; /* blue */
}
body a.tag-clickme_to_email {
    color: #bd5d38; /* brown-ish */
}
section#about ul {
    list-style: none;
}
section#skills article.skills-languages {
    margin-bottom: 25px;
}
/*
nav span.d-block { 
    display:inline-block;
    max-width: 50px;
}
*/

ul.tag-youtube_embeds {
    list-style: none;
}
ul.tag-youtube_embeds li {
    margin-top: 10px;
    margin-left: 20px;
    width: 40%;
}
ul.tag-youtube_embeds li:first-child {
    margin-left: 0;
}
ul.tag-youtube_embeds li p {
    margin: 5px 0;
    max-width: 300px;
    text-align: center;
}
img.tag-image_border {
    border: solid 7px #777;
}
#tag-clickme_to_scroll_down {
    position: fixed;
    right: 30px;
    bottom: 20px;
}
#tag-clickme_to_scroll_down h3 {
    display: none;
}
#tag-clickme_to_scroll_down h3 a {
    color: #52b8dd;
}

#crate-references img {
    width: 75%;
}
#crate-resume {
    margin-top: 15px;
}

#github h3 {
    color: #bd5d38;
}

#tag-copyright {
    color: #fafafa;
    font-size: 0.8rem;
}
