.floatLeft { float: left; }
.floatRight { float: right; }
.clearBoth { clear: both; }

body a {
    color: #007bff; /* blue */
}
body a.tag-clickme_to_email {
    color: #bd5d38; /* brown-ish */
}
section#about ul {
    list-style: none;
}
section#skills article.skills-languages {
    margin-bottom: 25px;
}
/*
nav span.d-block { 
    display:inline-block;
    max-width: 50px;
}
*/

ul.tag-youtube_embeds {
    list-style: none;
}
ul.tag-youtube_embeds li {
    margin-top: 10px;
    margin-left: 20px;
    width: 40%;
}
ul.tag-youtube_embeds li:first-child {
    margin-left: 0;
}
ul.tag-youtube_embeds li p {
    margin: 5px 0;
    max-width: 300px;
    text-align: left;
    font-size: 0.9rem;
    color: #3a3a3a;
}
img.tag-image_border {
    border: solid 5px #888;
}
#tag-clickme_to_scroll_down {
    position: fixed;
    right: 30px;
    bottom: 20px;
}
#tag-clickme_to_scroll_down h3 {
    display: none;
}
#tag-clickme_to_scroll_down h3 a {
    color: #52b8dd;
}

#crate-references img {
    width: 75%;
}
#crate-resume {
    margin-top: 15px;
}

#github h3 {
    color: #bd5d38;
}

#tag-copyright {
    color: #fafafa;
    font-size: 0.8rem;
}

.crate-image {
    margin-left: 5%;
    margin-bottom: 0.9rem;
}
.crate-image > span {
    display: inline-block;
}
.crate-image > span p {
    margin-bottom: 0;
    max-width: 25rem;
    font-size: 0.9rem;
    color: #3a3a3a;
}
.crate-image > span img {
    margin-right: 1rem;
    max-width: 31rem;
    max-height: 31rem;
}

.modal-lg {
    max-width: 65% !important;
}
img.tag-trigger_modal:hover {
    cursor: pointer;
}
.modal-content {
}
.modal-header {
    background-color: #bd5d38!important;
    padding: 0 1rem;
}
.modal-header > h5 {
    color: #fff !important;
    font-weight: 500 !important;
    font-size: 1.4rem !important;
    /*
    line-height: 0.8;
    */
    padding: 1rem;
    margin: 0;
}
.modal-header button.close {
    padding: 1rem;
    line-height: 0.8;
    margin: 0;
}
.modal-header button.close span {
    color: #fff !important;
    font-weight: 400 !important;
    font-size: 2.5rem !important;
}
