// Styling for the rounded social media links

.social-icons {
    .social-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: sass-rem(56);
        width: sass-rem(56);
        background-color: $gray-700;
        color: $white;
        border-radius: 100%;
        font-size: sass-rem(24);
        margin-right: sass-rem(24);
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background-color: $primary;
        }
    }
}

// Styling for the development technology icons
.dev-icons {
    font-size: sass-rem(48);
}
