section.resume-section {
    display: flex;
    align-items: center;
    padding-left: sass-rem(16);
    padding-right: sass-rem(16);
    padding-top: sass-rem(80);
    padding-bottom: sass-rem(80);
    max-width: sass-rem(1200);
    .resume-section-content {
        width: 100%;
    }
}
@include media-breakpoint-up(md) {
    section.resume-section {
        min-height: 100vh;
    }
}
@include media-breakpoint-up(lg) {
    section.resume-section {
        padding-left: sass-rem(48);
        padding-right: sass-rem(48);
        padding-top: sass-rem(80);
        padding-bottom: sass-rem(80);
    }
}
