doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Michael Stoj
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/mikePic.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Projects
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Michael 
                        span.text-primary Stoj
                    .subheading.mb-5
                        | 3807 40th Street Apt 2· Kenosha, WI 53144 · (262) 455-3351 · 
                        a(href='mailto:mstoj2020@gmail.com') mstoj2020@gmail.com

                    p.lead.mb-5
                        | As a highly skilled computer programmer, I bring a wealth of technical expertise and problem-solving abilities to any development team. With six years of experience in software engineering, I have a deep understanding of programming languages such as Java, Python, JavaScript, as well as proficiency in software design, testing, and debugging. <br><br>  I am a proactive and collaborative team player who enjoys working on complex projects that require innovation and attention to detail. I thrive in fast-paced environments and am always looking for ways to optimize and improve my work. In addition, I have a strong ability to communicate technical concepts to non-technical stakeholders, which enables me to work effectively with cross-functional teams.<br><br>In my previous roles, I have demonstrated my ability to deliver high-quality code on time and on budget, while ensuring that the end product meets both technical requirements and user needs. Some of my notable achievements include building a Pega Bot for CNO which is a NYSE listed compnay. <br><br> I am passionate about using technology to solve real-world problems, and am always looking for opportunities to expand my knowledge and skills in the field. As a dedicated lifelong learner, I am constantly exploring new technologies and staying up-to-date on the latest trends in software development.<br><br> Overall, I am excited about the prospect of joining a dynamic team of developers where I can use my skills and experience to make a meaningful contribution to the company's success.
                                     
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/michael-stoj/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/michaelstoj/')
                            i.fab.fa-github
                        //- a.social-icon(href='#!')
                        //-     i.fab.fa-twitter
                        //- a.social-icon(href='#!')
                        //-     i.fab.fa-facebook-f

            hr.m-0 

            // Experience
            section#experience.resume-section
               .resume-section-content 
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Robotics Process Automation
                            .subheading.mb-3 CNO

                            li  Work closely with business analysts and subject matter experts to identify opportunities for process automation.
                            li  Design, develop, and deploy software robots that automate business processes across various departments and systems.
                            li  Collaborate with cross-functional teams to ensure that RPA solutions meet technical requirements and user needs.
                            li  Develop and maintain RPA workflows, business logic, and exception handling.
                            li  Test and debug RPA solutions to ensure that they are functioning as expected.
                            li  Provide technical support and troubleshooting for RPA solutions in production environments.
                            li  Document RPA solutions, including design documents, test plans, and user guides.
                            li  Stay up-to-date on the latest RPA technologies and best practices.          

                        .flex-shrink-0
                            span.text-primary May 2022 - August 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Website Developer
                            .subheading.mb-3 Northern Lights Natural Landscaping
                            
                            li  Create wireframes, mockups, and prototypes to demonstrate user flows, interactions, and design concepts.
                            li  Write clean, efficient, and maintainable code using modern web development technologies and frameworks.
                            li  Ensure that websites and web applications are responsive and accessible across a range of devices and platforms.
                            li  Optimize website and web application performance for fast load times and smooth user experiences.
                            li  Test and debug front-end code to ensure that it is functioning as expected.
                            li  Participate in code reviews and contribute to the development of coding standards and best practices.
                            
                        .flex-shrink-0
                            span.text-primary January 2021 - May 2021


                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Warehouse Associate
                            .subheading.mb-3 Amazon
                            li  Receive and process incoming stock and materials.
                            li  Pick and fill orders from stock and pack them for shipment.
                            li  Perform regular inventory checks and maintain accurate inventory records.
                            li  Load and unload trucks using appropriate equipment, such as forklifts or pallet jacks.
                            li  Operate warehouse equipment safely and efficiently, following established safety guidelines.
                            li  Maintain a clean and organized warehouse environment.
                            li  Follow all company policies and procedures, including those related to safety, quality, and productivity.
                            li  Communicate effectively with supervisors and co-workers.
                            li  Perform other duties as assigned.
                        .flex-shrink-0
                            span.text-primary January 2015 - December 2021

                    

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 University of Wisconsin-Parkside
                            .subheading.mb-3 Bachelor of Science - Computer Science
                            div  
                            p 
                                
                            li  GPA: 3.97
                            li  Data Science certificate 
                            li  Cybersecurity certificate
                            li  Unix System Administration certificate
                            li    Strong foundation in computer programming, including proficiency in languages such as Java, Python, C++, or others.
                            li    Knowledge of algorithms, data structures, and computer architecture.
                            li    Familiarity with software engineering principles and best practices.
                            li    Understanding of computer networks and communication protocols.
                            li    Experience with databases and data management systems.
                            li    Familiarity with operating systems and computer security concepts.
                            li    Ability to design and develop software applications for a variety of platforms.
                            li    Strong analytical and problem-solving skills.
                            li    Excellent written and oral communication skills.
                            li    Ability to work independently or as part of a team.
                            li    Understanding of artificial intelligence and machine learning concepts.
                            li    Knowledge of software testing and debugging methodologies.
                            li    Experience with version control systems such as Git.
                            li    Knowledge of web development technologies such as HTML, CSS, and JavaScript.
                            li    Familiarity with project management methodologies and tools.

                        .flex-shrink-0
                            span.text-primary January 2020 - May 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Gateway Techincal College
                            .subheading.mb-3 Associates Web Programming
                            p 
                            li  GPA: 3.90
                            li  Proficiency in web development technologies such as HTML, CSS, and JavaScript.
                            li  Understanding of web development frameworks such as React, Angular, or Vue.js.
                            li  Familiarity with back-end web development technologies such as Node.js or Ruby on Rails.
                            li  Knowledge of user experience design principles and best practices.
                            li  Experience using design tools such as Sketch, Figma, or Adobe XD.
                            li  Ability to write clean, efficient, and maintainable code.
                            li  Understanding of responsive web design and mobile-first development.
                            li  Knowledge of website and web application performance optimization techniques.
                            li  Experience with version control systems such as Git.
                            li  Familiarity with database technologies such as MySQL, MongoDB, or PostgreSQL.
                            li  Ability to collaborate with cross-functional teams to design and develop web applications.
                            li  Strong analytical and problem-solving skills.
                            li  Excellent communication and collaboration skills.
                            li  Ability to work independently and as part of a team in a fast-paced environment.
                        .flex-shrink-0
                            span.text-primary August 2017 - December 2019

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons

                        li.list-inline-item 
                            i.fab.fa-java

                        li.list-inline-item 
                            i.fab.fa-python

                        li.list-inline-item 
                            i.fab.fa-php

                        li.list-inline-item 
                            i.fab.fa-github

                        li.list-inline-item
                            i.fab.fa-react
                        
                        li.list-inline-item
                            i.fab.fa-node-js

                        li.list-inline-item
                            i.fab.fa-wordpress

                        li.list-inline-item
                            i.fab.fa-html5
                        
                        li.list-inline-item
                            i.fab.fa-css3-alt

                        li.list-inline-item 
                            i.fab.fa-jira

                        li.list-inline-item 
                            i.fab.fa-

                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-First, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Browser Testing & Debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

                        li
                            span.fa-li
                                i.fas.fa-check
                            | Write HTML, CSS, and JavaScript code to implement the user interface

                        li
                            span.fa-li
                                i.fas.fa-check
                            | Set up and configure databases and data storage systems

                        li
                            span.fa-li
                                i.fas.fa-check
                            | Deploy the application to a web server or cloud-based platform

                        li
                            span.fa-li
                                i.fas.fa-check
                            | Develop software architecture and high-level system design

                        li
                            span.fa-li
                                i.fas.fa-check
                            | Write automated tests to ensure code quality and functionality

                        li
                            span.fa-li
                                i.fas.fa-check
                            | Debug and troubleshoot issues as they arise

                        li
                            span.fa-li
                                i.fas.fa-check
                            | Write code to implement the app's user interface and functionality

                        li
                            span.fa-li
                                i.fas.fa-check
                            | Create a new repository for a project

                        li
                            span.fa-li
                                i.fas.fa-check
                            | Clone the repository to your local development environment
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Create a branch for a new feature or bug fix
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Use GitHub issues to track bugs and feature requests

                        li
                            span.fa-li
                                i.fas.fa-check
                            | Create a new project in Jira to manage a software development effort

                        li
                            span.fa-li
                                i.fas.fa-check
                            | Define user stories and requirements using Jira's issue tracking system

                        li
                            span.fa-li
                                i.fas.fa-check
                            | Use Jira's Agile boards to manage sprints and iterations

                        li
                            span.fa-li
                                i.fas.fa-check
                            |     Set up data inputs to collect data from various sources, such as logs, events, and metrics.

                        li
                            span.fa-li
                                i.fas.fa-check
                            |     Monitor Splunk's performance and optimize configurations as needed.

            hr.m-0

            // Projects
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Projects
                    p
                        a(href='//www.nlnlandscaping.com') Northern Lights Natural Landscaping

                    p                     
                        a(href='https://safarihomesdevelopments.web.app/') Safari Homes
                   
                       
                    p
                        | Recovery Business Association (Not Complete)(In App store)

            hr.m-0

            //- // Awards
            //- section#awards.resume-section
            //-     .resume-section-content
            //-         h2.mb-5 Awards & Certifications
            //-         ul.fa-ul.mb-0
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 


        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')