doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Matthew Brady has taken the unprecedented step of posting his resume on the web outside of LinkedIn!')
        meta(name='author', content='Matthew Brady')

        title Matt Brady's Resume

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Matthew Brady
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Matthew
                        span.text-primary Brady
                    .subheading.mb-5
                        | 5830 Tesoro Dr NE · Rockford, MI · 49341 · (708) 205-3738 ·
                        a(href='mailto:brady.matthew@gmail.com') brady.matthew@gmail.com
                    p.lead.mb-2
                        | Experienced in marketing research analytics building data collection, data processing, analysis, reporting and visualization tools.
                    p.lead.mb-2
                        | I've recently completed the AWS Certified Data Analytics Specialty and AWS Certified Solutions Architect Associate exams and am interested in working with the AWS suite of analytics tools.
                    p.lead.mb-2
                        | Currently building marketing research analytics solutions for automotive brand tracking programs using a variety of software development tools such as Java, MongoDB, Pyramid, Python, Airflow, Spring, SQL Alchemy, Pandas and XLSXWriter. We provide these services to the worlds leading automotive manufacturers.
                    p.lead.mb-2
                        | Interested in roles using AWS services such as Glue, Kinesis, Redshift, EMR, Data Pipeline, Spark, Kafka and Elasticsearch. I enjoy working in the Python ecosystem and am looking for interesting Data Engineer or Software Engineer positions focused on data platforms.
                    p.lead.mb-2
                        | Proficient Linux User.
                    p.lead.mb-4
                        | If this sounds interesting message me.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/matthewjbrady/')
                            i.fab.fa-linkedin-in
            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Python/Java/SQL Developer
                            .subheading.mb-3 Escalent (formerly Morpace)
                            ul.fa-ul.mb-0
                            li
                                | Developing custom analytics solutions for global automotive brand awareness tracking programs using Python, Pyramid, SQLAlchemy, Pandas and XLSXWriter.
                            li
                                | Built app that pulls objects from S3 for data processing.
                            li
                                | Develop web app for tracking automotive brands used in survey research using Tomcat, CentOS, Java, Spring and MongoDB.
                            li
                                | Perform batch ETL using Pentaho Data Integration to aggregate data for OLAP databases.
                        .flex-shrink-0
                            span.text-primary April 2016 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Web Developer
                            .subheading.mb-3 Abt Associates
                            ul
                            li
                               | Built Data Collection Systems for 40+ projects using Javascript/HTML/CSS, MSSQL Server.
                            li
                               | Lead Developer of Centers for Disease Control (CDC) study of Influenza Vaccination Coverage Among Health Care Personnel — United States, 2014–15 Influenza Season. Wrote custom script to handle query string metadata from survey sample providers to validate respondent eligibility. Created “Responsive” smartphone version of survey. Assisted with programming CDC study of Pregnant Women and Flu Vaccination, Internet Panel Survey, United States, November 2014
                            li
                               | Assisted with backend operations relating to ABC-Washington Post tracking polls in the 2012 Presidential Election.
                            li
                               | Lead Developer for Maricopa County Household Travel Study.
                            li
                               | Created prototype application for Harvard Business School survey on U.S. Competitiveness using LinkedIn API.
                            li
                               | Integrate Javascript user agent detection library into legacy data collection application (Voxco).
                        .flex-shrink-0
                            span.text-primary August 2012 - October 2015

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Developer
                            .subheading.mb-3 Foodservice Research Institute
                            ul
                            li
                                | Development for menu item trend tracking application using Hibernate, Spring, Java and MySQL.
                            li
                                | Confirmit and SPSS Data Collection (Unicom) programming for nationwide foodservice brand tracking survey.
                            li
                                | Designed and Maintained company websites using Joomla/Wordpress.
                            li
                                | Use Caspio to create a school lunch menu item tracker app for foodservice manufacturers.
                            li
                                | Replaced data entry MSSQL backend with MySQL.
                            li
                                | Programmed custom phone dialer using Snom click-to-call API.
                            li
                                | Administered Salesforce environment for company.
                        .flex-shrink-0
                            span.text-primary January 2002 - Sept 2012

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Amazon Web Services (AWS)
                            .subheading.mb-3 Solutions Architect Associate
                            a(href='https://www.credly.com/badges/3219254d-3cc1-4ef8-81ec-ea17207391cb/public_url') Certificate Verification
                        .flex-shrink-0
                            span.text-primary June 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Amazon Web Services (AWS)
                            .subheading.mb-3 Data Analytics Specialty
                            a(href='https://www.credly.com/badges/025e7ce4-3da5-4ff8-bc36-9eb8aece9387/public_urlpublic_url') Certificate Verification
                        .flex-shrink-0
                            span.text-primary July 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 DePaul University
                            .subheading.mb-3 Java Developer Program
                            a(href='https://www.cdm.depaul.edu/ipd/documents/jdpbrochure.pdf') Syllabus
                        .flex-shrink-0
                            span.text-primary November 18th, 2009

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-linux
                        li.list-inline-item
                            i.fab.fa-aws
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-java
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-docker
                        li.list-inline-item
                            i.fab.fa-centos
                        li.list-inline-item
                            i.fab.fa-git-alt
                        li.list-inline-item
                            i.fab.fa-pied-piper-alt
                        li.list-inline-item
                            i.fab.fa-grunt
                        li.list-inline-item
                            i.fab.fa-npm
                    .subheading.mb-3 Honorable Mentions
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Airflow, AWS, Beyond Compare, CentOS, Docker, DynamoDB, EMR, ETL, Glue, Hive, Jupyter, Kafka,
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Kinesis, Linux, MongoDB, MySQL, Node.js, Pandas, Pentaho, Postgresql,
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Pyramid, Python, Quicksight, Redshift, Snowflake, Spark, Spring, SQLAlchemy, Tableau

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | I love cars, engines and anything that runs on gas. Camping on a new Michigan body of water every weekend in the summer time is my idea of a great time.
                    p.mb-0
                        | I love researching old obscure technology and learning about the future. Defender of Democracy and Human Rights.

            hr.m-0

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
