doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Ganesh R

        link(rel='icon', type='image/x-icon', href='assets/resume1.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Ganesh R
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Ganesh
                        span.text-primary R
                    .subheading.mb-5
                        | 1355 15th cross · Kumarswamy Layout, Bangalore · 560078· 
                        a(href='mailto:ganeshittannavar1998@gmail.com') ganeshittannavar1998@gmail.com
                    p.lead.mb-5
                        | I am experienced in leveraging agile frameworks to provide a robust synopsis. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/ganesh-ittannavar-6b6b52129/')
                            i.fab.fa-linkedin-in
                       
                        a.social-icon(href='https://www.behance.net/ganeshr3')
                            i.fab.fa-behance
                        a.social-icon(href='https://dribbble.com/ganeshr7')
                            i.fab.fa-dribble

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Freelance Designer
                            .subheading.mb-3 freelance
                            p
                                | Creating designes for freelance services.
                        .flex-shrink-0
                            span.text-primary June 2020 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Web Developer Intern
                            .subheading.mb-3 Think N Solutions
                            p
                                | Creating the web design for the company on the wix for the projects such as Fileracks and the Landing page for the company.
                        .flex-shrink-0
                            span.text-primary Jan 2020 - June 2020

                   

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 California Institute of Arts
                            .subheading.mb-3 Bachelor of Arts
                            div Graphic Design Specialization
                            p percentage: 95
                        .flex-shrink-0
                            span.text-primary June 2020 - August 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Dayanand Sagar College of Engineering
                            .subheading.mb-3 Bachelor of Engineering
                            div Computer Science & Engineering
                            p GPA: 7.98
                        .flex-shrink-0
                            span.text-primary August 2016 - September 2020

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-figma
                        li.list-inline-item
                            i.fab.fa-react
                      
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-adobe
                      
                        li.list-inline-item
                            i.fab.fa-npm
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | A/B Testing
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Apart from being a web developer, I enjoy most of my time being outdoors. I love travelling, Trekking and Photography.
                    p.mb-0
                        | When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I love to practice guitar,and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world..

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Graphic Design Specilization form CALARTS
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            |   Ui/UX Design Specilization form CALARTS
                       
                       

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')
